[Desktop Entry]
Version=1.0
Icon=net.playhi.dde-file-manager-menu-open-as-administrator
Type=Application
Categories=Utility;
Name=文件管理器以管理员身份打开
Name[zh_CN]=文件管理器以管理员身份打开
Exec=dedit "/opt/apps/net.playhi.dde-file-manager-menu-open-as-administrator/files/bin/readme.txt"
Terminal=false
